<div>
  <h3>Name</h3>{{name}}  
  <h3>Description</h3>{{description}}
  <h3>Price</h3>{{price}}
  <h3>Category</h3>{{category}}
  <h3>isAvailable</h3>{{isAvailable}}
</div>

<div>
  <h3>Equivalents</h3>  
  <ul>
    <li *ngFor="let equivalent of equivalents; let i = index">
      {{i}} : {{equivalent}} <button (click)="onAdd(equivalent)">Add to cart</button>
    </li>
  </ul>
</div>

<div>
  <div *ngIf="currentCart.entries.length">
    <h3>Cart entries</h3>
    <li *ngFor="let entry of currentCart.entries; let i = index">
      {{i + 1}} : {{entry}}
    </li>
  </div>
  <button (click)="onBuy($event)">Buy</button>
</div>