<div>
  <h3>Products</h3>  
  <ul>
    <li *ngFor="let product of products; let i = index">
      <h4>{{i}} :</h4>
      <div>
        <b>Name: </b>{{product.name}}<br>
        <b>Description: </b>{{product.description}}<br>
        <b>Price: </b>{{product.price}}<br>
        <b>Category: </b>{{product.category}}<br>
        <b>isAvailable: </b>{{product.isAvailable}}<br>
      </div>
      <button (click)="onAdd(product)">Add to cart</button>
    </li>
  </ul>
</div>

<div>
  <div *ngIf="currentCart.entries.length">
    <h3>Cart entries</h3>
    <li *ngFor="let entry of currentCart.entries; let i = index">
      {{i + 1}} : {{entry.name}} (${{entry.price}})
    </li>
  </div>
  <button [disabled]="!currentCart.entries.length" (click)="onBuy($event)">Buy</button>
</div>